#service-wrap {
       min-height: 480px !important;
              background: white !important;
       }
       
       #service-wrap:hover .title{
              color: #106eea !important;
       }
       
       .rs-services.style1 .service-wrap .icon-part img{
              filter: brightness(100) invert(1);
       }

       .custom-button{
              position: absolute;
              bottom: 27px;
              text-align: center;
              left: 30%;
       }

       @media screen and (max-width:640px) {

              #rs-services1 {
                     background-image: none !important;

              }
       }

        @media screen and (max-width:320px) {

              #service-wrap {
                                   min-height: 530px !important;
                                   background: white !important;
                            } 
                            
                            .custom-button{
              position: absolute;
              bottom: 27px;
              text-align: center;
              left: 25%;
       }
       }