.rs-breadcrumbs.bg-1 {
    background-image: linear-gradient(90deg, #e8e9eb 0, #eaebed8c 50%, rgba(255, 255, 255, 0) 100%), url("assets/images/businessman-touching-virtual-screen.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover
}

.readon1 {
    outline: 0;
    padding: 15px 29px;
    border: 1px solid #106eea !important;
    border-radius: 3px;
    display: inline-block;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    color: #000;
    background: #f1f6ff;
    transition: all .3s ease
}

.readon1:hover {
    cursor: pointer;
    background: #106eea;
    color: #fff
}

.txt_blue {
    color: #106eea
}

.rs-counter.style1 .couter-part .rs-count {
    color: #1067ce
}

.rs-counter.style1 .couter-part .rs-count:after {
    color: #1067ce
}

.rs-counter.style1.modify .couter-part .title {
    color: #000
}

.border {
    border: 2px solid #106eea !important
}

.bg-light {
    background-color: #106eea1a !important
}

.card {
    box-shadow: rgb(149 157 165 / 20%) 0 8px 24px
}

.card-text {
    color: #1c1b1b
}

.go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 244px;
    height: 32px;
    overflow: hidden;
    top: 0;
    right: 0;
    background-color: #106eea;
    border-radius: 0 4px 0 32px
}

.go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: #fff
}

.card1 {
    display: block;
    position: relative;
    max-width: 100%;
    border-radius: 4px;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden
}

.card1:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -33px;
    right: -20px;
    background: #106eea;
    height: 32px;
    width: 80px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform .25s ease-out
}

.card1:hover:before {
    transform: scale(21)
}

.card1:hover .card-text {
    transition: all .3s ease-out;
    color: #fff
}

.card1:hover .txt_clr {
    transition: all .3s ease-out;
    color: #fff !important
}

.card1:hover .txt2 {
    transition: all .3s ease-out;
    color: #fff !important
}

.image-part img {
    min-height: 200px;
    height: 334px
}

.card_r {
    top: 20%
}

.padding_top {
    padding-top: 7rem
}

.margin_top {
    margin-top: -1rem
}

#time_line .card-body {
    text-align: initial
}

.card {
    background-color: #106eea1c
}

.contact_text {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    padding: 1rem
}

.contact-form-part {
    margin-bottom: 3rem
}

[class*=" flaticon-"]:after,
[class*=" flaticon-"]:before,
[class^=flaticon-]:after,
[class^=flaticon-]:before {
    font-family: Flaticon;
    font-style: normal;
    margin-left: 20px
}

@media only screen and (max-width:600px) {
    .padding_top {
        padding-top: 0
    }
    .margin_top {
        margin-top: 0
    }
}

@media only screen and (max-width:480px) {
    .sec-title .desc {
        display: block;
        margin-bottom: 0
    }
    .card_r {
        top: 0
    }
    #timeline .timeline-badge {
        top: -24px
    }
}