@media only screen and (max-width: 991px){
    .owl-nav{
        display: none
    }
    .about_cover .md-pt-80 {
        padding-top: 0px
    }
    .what_we_do_laptop_view{
        display: none !important;
    }
    .what_we_do_tablet_view{
        display: block !important;
    }
    .netserv_history_col_1{
        display: none;
    }
    .netserv_history_col_10{
        flex: auto !important;
        max-width: 100% !important;
    }
    .rs-contact.style1 .contact-info .title {
        font-size: 20px !important
    }
    .leadership_block{
        padding-top: 0px;
    }
    .career_cover_section .bg4 {
        background-image: none;
    }
    .consulting_services_help .img-part img {
        position: relative;
        bottom: 0px !important
    }
}
